
@import url(
'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
  
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
       background-color: #3c3c3c;
       text-align: center;
       
}
header1,h1  {
       text-align: center;
       align-items: center;
       color: whitesmoke;
       font-family: 'Poppins', sans-serif;
       font-weight: 700;
       flex-grow: 1;
       box-sizing: border-box;

}

a{ 
       color: whitesmoke;
}
  
a:hover {
       color: #8f9192;
       text-decoration: none
   }

h2, h3, h4, h5 {
       font-family: 'Poppins', sans-serif;
       font-weight: 700;
}

container {
       width:100%;
       padding-right:15px;
       padding-left:15px;
       margin-right:auto;
       margin-left:auto
}
card-body {
       -ms-flex: 1 1 auto;
       flex: 1 1 auto;
       min-height: 250px;
       padding: 1.25rem;
}