
/*# @import url(
'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
  */
  *,
  ::after,
  ::before {
      box-sizing: border-box
  }

 body {
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      background-color: #3c3c3c;
      text-align: center;
      margin: 0;
      max-width: 75%;
      line-height: 1.5;
      text-align: center;
      align-items: center;
      color: #212529;
}

html {
      -webkit-text-size-adjust: 100%;
      min-height: 100%;
      -webkit-tap-highlight-color: transparent
  }

h1  {
      text-align: center;
      align-items: center;
      color: whitesmoke;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      flex-grow: 1;
      box-sizing: border-box;

}

a{ 
      color: whitesmoke;
      text-decoration: none;
      background-color: transparent

}
 
a:hover {
      color: #8f9192;
      text-decoration: none
  }

h2, h3, h5, h6 {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0;
}

h2.white {
   color: whitesmoke;
}

h4.white {
   text-align: center;
   align-items: center;
   margin-top: 0;
   margin-bottom: 0;
   color: white;
   font-family: 'Poppins', sans-serif;
   font-weight: 350;
   align-self: center;
}

h2.tAl {
   text-align: justify;
   text-align-last: justify;
   text-indent: 10ch
 }

h5 {
      font-size: 1.25rem;
}

h6 {
      font-size: 1rem;
}

.container {
      width:100%;
      padding-right:5px;
      padding-left:5px;
      margin-right:auto;
      margin-left:auto;
      padding-bottom: 5px
}
.center {
   margin: auto;
   width: 97%;
   padding: 10px;
 }

.card {

      
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, .125);
      border-radius: .25rem
}

.card-body1 {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      min-height: 365px;
      padding: 1.25rem;
}

.card-body2 {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      min-height: 525px;
      padding: 1.25rem;
}
 .col-lg-2 {
   -ms-flex: 0 0 33%;
   flex: 0 0 33%;
   max-width: 33%;
   width: 33%;
   padding-right: 10%;
   padding-left: 15px
}

.col-lg-3 {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px
}

.col-md-1{
    -webkit-box-flex:0;
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%
}
.offset-md-1{
    margin-left:25%
}

.row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px
  }
  .imgsize {
   width: 33%;
   height: 33%; 
   object-fit: contain;
   }