admin/Scripts/variables.ps1
/include/config.php
/images/*
test*.*
*copy.php
/css/bootstrap.*
*variables.*
*Thumbs.db
.vscode/settings.json
.vscode/extensions.json
Testing/*
admin/Scripts/Unzip files.ps1
